version: '3.7'
services:
  # https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html
  web:
    image: nginx:1.21.6
    hostname: web
    container_name: web
    volumes:
      - code:/var/www
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/server.crt:/etc/nginx/server.crt
      - ./etc/nginx/server.key:/etc/nginx/server.key
    networks:
      default:
        aliases:
          - magento.test
    ports:
      - "${WEB_PORT}:80"
      - "${WEBS_PORT}:443"
    depends_on:
      - app
  db:
    image: mariadb:10.4.12
    deploy:
      resources:
        reservations:
          memory: 4096M
    hostname: db
    container_name: db
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "magento"
    volumes:
      - ./etc/mysql/my.cnf:/etc/mysql/conf.d/mysql.cnf
    ports:
      - "${DB_PORT}:3306"
    command: --default-authentication-plugin=mysql_native_password
  app:
    image: slopukhov/php:8.1.8-fpm
    # to re-build image use the following docker file:
    # build:
    #   context: .
    #   dockerfile: build/php/fpm
    hostname: app
    container_name: app
    depends_on:
      - db
      - elastic
      - redis
      - rabbit
    env_file:
      - ./.env
    volumes:
      - code:/var/www
      - ./.env:/tmp/.env
      - ./etc/php/app/sendmail:/usr/local/bin/sendmail
      - ./etc/php/tools/magento:/usr/local/bin/magento
      - ./etc/php/tools:/usr/local/bin/magento2
      - ./etc/php/php.ini:/usr/local/etc/php/php.ini
      - ./etc/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ./etc/php/php-fpm.conf:/usr/local/etc/php-fpm.conf
    environment:
      #COMPOSER_HOME: /var/www/.composer
      PHP_IDE_CONFIG: serverName=magento.test
  elastic:
    image: opensearchproject/opensearch:1.2.1
    hostname: elastic
    container_name: elastic
    ports:
      - "${ELASTIC_PORT}:9200"
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
  redis:
    image: redis:6.2.7
    hostname: redis
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
  rabbit:
    image: rabbitmq:3.9.21
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "${RABBIT_PORT}:5672"
networks:
  default:
    driver: bridge
volumes:
  code:
